.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.tags {
  margin-top: 10px;
}

.tag {
  background: #f0f0f0;
  padding: 3px 8px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 0.8em;
}
.addToCart {
  margin-top: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid;
  font-size: 40px;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}